/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;

}

p {
    color: #000000;
}

/* GLOBAL CLASSES */
.text-content {
    text-align: center;

}

/* CUSTOM STYLES */

header {
    background-color: #555555;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header h3 {
    color: #ffffff;

}

header nav a:not(:last-child) {
    margin-right: 10px;
}

main {
    display: flex;
    flex: 1;
}

main section {
    flex: 1;
}

.left {
    background-color: #ff7f50;
}

.right {
    background-color: #20b2aa;
}

footer {
    background-color: #aaaaaa;
    padding: 30px 5%;
}