/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    /* transition: all 3s; */

}

a:hover {
    color: #dddddd;
    /* text-decoration: underline; */
}

/* or 
a:hover, a:active {
    color: #dddddd;
}
to change both
*/

a:active {
    color: #ff0000;
}

/* a:nth-child(2) {
    color: #ffa500
}

a:last-child {
    color: #ffa500;
} */

p {
    color: #000000;
}

/* GLOBAL CLASSES */
.text-content {
    text-align: center;

}

/* CUSTOM STYLES */

header {
    background-color: #555555;
    padding: 15px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header h3 {
    color: #ffffff;

}

/* header h3:after {
    content: 'hi there';
}

header h3:before {
    content: 'hi there';
} */

header nav a {
    position: relative;
}

header h3:after {
    transform: scale(0,0);
    transition: 3s;
}

header nav a:not(:last-child) {
    margin-right: 10px;
}

header nav a:hover:after {
    content: 'Hi';
    width: 100px;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scale(1,1)

}

main {
    display: flex;
    flex: 1;
}

main section {
    flex: 1;
}

.left {
    background-color: #ff7f50;
}

.right {
    background-color: #20b2aa;
}

footer {
    background-color: #aaaaaa;
    padding: 30px 5%;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    .left {
        background-color: blueviolet;
    }

    main {
        flex-direction: column;
    }
}